<div class="drawer">
    <div>This is a server.properties editor.</div>
    <div>It is based on <a href="https://server.properties">https://server.properties</a>.</div>
    <div>Based on <a href="https://angular.io/">Angular</a> and <a href="https://material.angular.io/">Angular Material</a></div>
    <div class="drawer-bottom-credits">

    </div>
    <div class="drawer-bottom-credits">
        <div>
            <div class="left-name">© Tai Chen Li <br/> © Alphonse Desrosiers</div>
        </div>
        <div class="right-email">
            <div>dev@taichen.li</div>
            <div>alphonse.desrosiers@gmail.com</div>
        </div>
    </div>
</div>
