$main-padding: 20px;

.drawer {
    padding: $main-padding;
}

.drawer-bottom-credits {
    font-size: 12px;

    display: flex;

    position: absolute;
    bottom: $main-padding;
    width: calc(100% - #{2 * $main-padding});
}

.left-name  {
    flex: 1 1 auto;
}

.right-email {
    text-align: right;
    flex: 1 1 auto;
}
