.drawer-bottom-credits {
    font-size: 12px;

    display: flex;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.left-name  {
    flex: 0 0;
    padding: 10px;
}

.right-email {
    flex: 1;
}
