$breakpoint-mobile: 599px;
$sidebar-drawer-width: 384px;
$constant-toolbar-height: 64px;

mat-drawer-container {
    height: 100%;
}

mat-drawer {
    width: $sidebar-drawer-width;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.toolbar {
    position: absolute;
    height: $constant-toolbar-height;
}

.toolbar-title {
    margin-left: 16px;
}

.content {
    position: absolute;
    top: $constant-toolbar-height;
    height: 100%;
}
