<mat-horizontal-stepper linear="true" #stepper>
    <mat-step>
        <ng-template matStepLabel>Fill out</ng-template>
        <!--ngfor mat-cart -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>View</ng-template>
        <p>You are now done.</p>
        <div>
            <button
                class="last-step-buttons"
                mat-raised-button
                matStepperPrevious
            >
                Back
            </button>
            <button
                class="last-step-buttons"
                mat-raised-button
                (click)="stepper.reset()"
            >
                Reset
            </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
