<mat-horizontal-stepper linear="true" #stepper (click)="onInputChange()">
    <mat-step>
        <ng-template matStepLabel>Fill out</ng-template>

        <br />
        <mat-form-field appearance="fill" [color]="spawnProtection.value">
            <mat-label>Spawn protection range</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 16"
                [formControl]="spawnProtection"
                min="0"
                max="100"
            />
            <span matSuffix>block</span>
            <mat-error *ngIf="spawnProtection.invalid"
                >Min size of 0 or max size of 100</mat-error
            >
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" [color]="maxTickTime.value">
            <mat-label>Max tick time in millisecond</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 60000"
                [formControl]="maxTickTime"
                min="1000"
                max="60000"
            />
            <span matSuffix>ms</span>
            <mat-error *ngIf="maxTickTime.invalid"
                >Min size of 0 or max size of 60000</mat-error
            >
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" [color]="queryPort.value">
            <mat-label>Minecraft port number</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 25565"
                [formControl]="queryPort"
                min="1"
                max="65535"
            />
            <span matSuffix></span>
            <mat-error *ngIf="queryPort.invalid"
                >Min size of 1 or max size of 65535</mat-error
            >
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Generator settings, USELESS</mat-label>
            <input
                matInput
                type="string"
                placeholder="Ex. LEAVE IT BLANK"
                [value]="generatorSettings"
            />
            <span matSuffix>.json</span>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Sync chunk writes</mat-label>
            <mat-select [(value)]="syncChunkWrites">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Force game mode</mat-label>
            <mat-select [(value)]="forceGameMode">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Allow Nether</mat-label>
            <mat-select [(value)]="allowNether">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Enforce whitelist</mat-label>
            <mat-select [(value)]="enforceWhitelist">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Gamemode</mat-label>
            <mat-select [(value)]="gamemode">
                <mat-option value="survival">survival</mat-option>
                <mat-option value="creative">creative</mat-option>
                <mat-option value="adventure">adventure</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Broadcast console to ops</mat-label>
            <mat-select [(value)]="broadcastConsoleToOps">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Enable query</mat-label>
            <mat-select [(value)]="enableQuery">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" [color]="playerIdleTimeout.value">
            <mat-label>Player idle timeout</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 0"
                [formControl]="playerIdleTimeout"
                min="0"
                max="1440"
            />
            <span matSuffix>min</span>
            <mat-error *ngIf="playerIdleTimeout.invalid"
                >Min size of 0 or max size of 1440</mat-error
            >
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select [(value)]="difficulty">
                <mat-option value="peaceful">peaceful</mat-option>
                <mat-option value="easy">easy</mat-option>
                <mat-option value="normal">normal</mat-option>
                <mat-option value="hard">hard</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Spawn monsters</mat-label>
            <mat-select [(value)]="spawnMonsters">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Broadcast RCON to ops</mat-label>
            <mat-select [(value)]="broadcastRconToOps">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Op permission level</mat-label>
            <mat-select [(value)]="opPermissionLevel">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>PVP</mat-label>
            <mat-select [(value)]="pvp">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field
            appearance="fill"
            [color]="entityBroadcastRangePercentage.value"
        >
            <mat-label>Entity broadcast range percentage</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 100"
                [formControl]="entityBroadcastRangePercentage"
                min="0"
                max="500"
            />
            <span matSuffix></span>
            <mat-error *ngIf="entityBroadcastRangePercentage.invalid"
                >Min size of 0 or max size of 500</mat-error
            >
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Snooper enabled</mat-label>
            <mat-select [(value)]="snooperEnabled">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Level type</mat-label>
            <mat-select [(value)]="levelType">
                <mat-option value="default">default</mat-option>
                <mat-option value="flat">flat</mat-option>
                <mat-option value="largeBiomes">largeBiomes</mat-option>
                <mat-option value="amplified">amplified</mat-option>
                <mat-option value="buffet">buffet</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Hardcore</mat-label>
            <mat-select [(value)]="hardcore">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Enable status</mat-label>
            <mat-select [(value)]="enableStatus">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Enable command block</mat-label>
            <mat-select [(value)]="enableCommandBlock">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Max players</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 20"
                [formControl]="maxPlayer"
                min="0"
                max="100"
            />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>network-compression-threshold</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 256"
                [formControl]="networkCompressionThreshold"
                min="0"
                max="65535"
            />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Resource pack sha1</mat-label>
            <input matInput type="text" [formControl]="resourcePackSha1" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Max world size</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 29999984"
                [formControl]="maxWorldSize"
                min="0"
                max="29999984"
            />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Function permission level</mat-label>
            <mat-select [(value)]="functionPermissionLevel">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>RCON port</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 25575"
                [formControl]="rconPort"
                min="1"
                max="65534"
            />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Server port</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 19132"
                [formControl]="serverPort"
                min="1"
                max="65535"
            />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Debug</mat-label>
            <mat-select [(value)]="debug">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Server IP</mat-label>
            <input matInput type="text" [formControl]="serverIp" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>spawn npcs</mat-label>
            <mat-select [(value)]="spawnNpcs">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Allow flight</mat-label>
            <mat-select [(value)]="allowFlight">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Level name</mat-label>
            <input matInput type="text" [formControl]="levelName" value="world"/>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>View distance</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 10"
                [formControl]="viewDistance"
                min="3"
                max="32"
            />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Resource pack</mat-label>
            <input matInput type="text" [formControl]="resourcePack" />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Spawn animals</mat-label>
            <mat-select [(value)]="spawnAnimals">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>White list</mat-label>
            <mat-select [(value)]="whiteList">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>RCON password</mat-label>
            <input matInput type="text" [formControl]="rconPassword" />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Generate structures</mat-label>
            <mat-select [(value)]="generateStructures">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Max build height</mat-label>
            <input
                matInput
                type="number"
                placeholder="Ex. 256"
                [formControl]="maxBuildHeight"
                min="0"
                max="256"
                step="8"
            />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Online mode</mat-label>
            <mat-select [(value)]="onlineMode">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Level seed</mat-label>
            <input matInput type="text" [formControl]="levelSeed" />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>use-native-transport</mat-label>
            <mat-select [(value)]="useNativeTransport">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>prevent-proxy-connections</mat-label>
            <mat-select [(value)]="preventProxyConnections">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>enable-jmx-monitoring</mat-label>
            <mat-select [(value)]="enableJmxMonitoring">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>enable-rcon</mat-label>
            <mat-select [(value)]="enableRcon">
                <mat-option value="true">true</mat-option>
                <mat-option value="false">false</mat-option>
            </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>motd</mat-label>
            <input matInput type="text" [formControl]="motd" value="A Minecraft Server"/>
        </mat-form-field>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <p>Copy paste the following into a file named "server.properties".</p>
        <pre [innerHTML]="code"></pre>
        <div>
            <button
                class="last-step-buttons"
                mat-raised-button
                matStepperPrevious
            >
                Back
            </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
